/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
  max-width: 882px;
  max-height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 40px;
}

.header__logo {
  width: 133px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 41px;
}

/* Media queries para 320px  */

@media (max-width: 31em) {
  .header__logo {
    margin-left: 20px;
  }
}

/* Media queries para 720px  */

@media (max-width: 64em) {
  .header__logo {
    margin-left: 40px;
  }
}
