/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: center;
  flex-direction: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup__container {
  position: relative;
  background-color: white;
  max-width: 430px;
  padding: 36px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1000;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__title {
  margin-top: 34px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: black;
  margin-bottom: 54px;
}

.popup__imput {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  height: 27.26px;
  margin-bottom: 29.74px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.popup__button {
  background-color: black;
  color: white;
  width: 358px;
  height: 50px;
  margin-bottom: 36.51px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  border: none;
  border-radius: 2px;
  -webkit-transition: opacity 0.3 s ease;
  -o-transition: opacity 0.3 s ease;
  transition: opacity 0.3 s ease;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.popup__button:hover {
  background-color: #000000;
  opacity: 0.8;
}

.popup__close-icon {
  width: 40px;
  position: absolute;
  top: -43px;
  right: -43px;
  z-index: 1000;
  -webkit-transition: opacity 0.3 s ease;
  -o-transition: opacity 0.3 s ease;
  transition: opacity 0.3 s ease;
}

.popup__close-icon:hover {
  opacity: 0.8;
}

.popup__opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__form {
  flex-direction: column;
  display: flex;
}

.popup__container {
  padding: 36px;
}

.popup__container_image {
  padding: 0;
}

.popupImage__caption {
  font: inter;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  position: absolute;
  bottom: -20px;
}
